<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/coop.css">
    <link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/stylework.css">
    <script src="../js/coop.js" type="text/javascript" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" defer></script>
    <title>Le Hangar - coopérative </title>
  </head>
  <body>
  {% include 'navbar.html.twig' %}
    <div class="containercom">
      <div>
        <h3>Liste commandes</h3>
        <ul id="incomplete-tasks">
        {% for ord in order %}
        {% set pos=ord.getProductOrders.toArray()%}
        
        <li class="li" id="{{ord.getId()}}"> <label>{{ord.getClientName()}}</label>     
        <p>Produits : 
          {% for po in pos %}
          {{po.getProduct().getName()}} ({{po.getProduct().getProducer().getName()}}) x{{po.getQuantity()}}
          {% endfor %}
          </p>
          <p> {{ord.getTotalPrice()}}€</p>
          <label class="livrec">Livré:</label><input id="{{ord.getId()}}" class="checkbox"type="checkbox"></input><button class="btn">Description</button>
          <div id="{{ord.getId()}}des" class="popup">
          <span id="btnClose" class="btnClose">&times;</span>
          </div>
        </li>
        {% endfor %}
        </ul>
      </div>
      <div>
        <h3>Historique</h3>
        <ul id="completed-tasks">
        </ul>
      </div>
    
    </div>

  </body>
</html>