<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="js/main.js" defer></script>
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Produits</a></li>
          <li><a href="#">Producteurs</a></li>
          <li><a href="/panier/">Panier</a></li>
        </ul>
        <label class="logo">LeHangar</label>
      </nav>
    </header>
    <div class="content">
      <input type="checkbox" id="list-toggle" checked>  <label for="list-toggle">  </label>
      <div class="side-menu">
        <h2 class="display-6 mt-3"> Catégories</h2>
          <table id="categorie" class="mt-4">
            <tr><td class="align-right"><input type="checkbox" name="" value="lait"></td><td class="align-left">Produits laitiers</td></tr>
            <tr><td class="align-right"><input type="checkbox" name="" value="feculent"></td><td class="align-left">Féculents</td></tr>
            <tr><td class="align-right"><input type="checkbox" name="" value="legume"></td><td class="align-left">Légumes</td></tr>
            <tr><td class="align-right"><input type="checkbox" name="" value="fruit"></td><td class="align-left">Fruits</td></tr>
          </table>
      </div>
    </div>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    <div class="container">
    {% for prod in products %}
      <div class="span">
        <a class="base_link" href="/{{prod.getId()}}">
        <img class="span-img" src={{prod.getUrlImg()}} alt="">
        <h3>{{prod.getName()}}</h3>
        <p>{{prod.getAmountUnit()}}€ / {{prod.getUnit()}}</p>
        </a>
        <form class="add" method="post" action="/panier/add/{{prod.getId()}}" target="dummyframe">
          <div class="mb-2">
            <div class="justify-center">
              <a class="btn__qte" onclick="minus(input{{prod.getId()}})"><i class="fas fa-minus"></i></a>
              <div class="form__div mb-3">
                <input type="number" min="0" name="input" class="form__input" id="input{{prod.getId()}}" placeholder=" " value="0">
              </div>
              <a class="btn__qte" href="#" onclick="plus(input{{prod.getId()}})"><i class="fas fa-plus"></i></a>
            </div>
            <br>
          </div>
          <input type='submit' id="addcart" value = 'Ajouter au panier' class="btn">
        </form>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
