<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="css/stylework.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="/js/main.js" defer></script>
    <title></title>
  </head>
  <body>
    {% include 'navbar.html.twig' %}
    <div class="mt-5">
    <h1 class="mt-6">Mon panier</h1>
    {% set total = 0 %}
    <div class="container-detail mt-5 p-1">
      <div class="span-detail box-shadow bg-white col-2 p-2">
        {% for prodorder in panier %}
        <div class="rowProduct">
          <div class="cell row-2">
            <img class = "cart-img"
              src={{prodorder.getProduct().getUrlImg()}}
              alt="">
          </div>
          <div class="cell">
            <p>{{prodorder.getProduct().getName()}}</p>
          </div>
          <div class="cell">
            <p>{{prodorder.getProduct().getAmountUnit()}}€ / {{prodorder.getProduct().getUnit()}} x{{prodorder.getQuantity()}}</p>
          </div>
          <div class="cell">
            <p>Michel</p>
          </div>
          <div class="cell">
            <p class="fz-10">prix = {{prodorder.getProduct().getAmountUnit()*prodorder.getQuantity()}}€ </p>
          </div>
          {% set total = total + prodorder.getProduct().getAmountUnit()*prodorder.getQuantity() %}
        </div>
        {% endfor %}
      </div>
      <div class="span-detail box-shadow bg-white p-2">
        <h3>Total = {{total}}€</h3>
      </div>
      <div class="p-2">
        <a class="btnValidate" href="#">Valider la commande</a>
      </div>
    </div>
  </div>
</body>

</html>
