<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/stylework.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<script src="/js/main.js" defer></script>
		<script src="/js/validation_cart.js" defer></script>
		<title></title>
	</head>
	<body>
		{% include 'navbar.html.twig' %}
		<div class="mt-5">
			<h1 class="mt-6">Mon panier</h1>
			{% set total = 0 %}
			<div class="container-detail mt-5 p-1">

				<div class="span-detail box-shadow bg-white col-2 p-2">
					{% if panier == null %}
						<p>
							Votre panier est vide.</p>
					{% else %}
						{% for prodorder in panier %}
							{% set prod = prodorder.getProduct() %}
							<div class="rowProduct">
								<div class="cell row-2">
									<img class="cart-img" src={{prod.getUrlImg()}} alt="">
								</div>
								<div class="cell">
									<p>{{prod.getName()}}</p>
								</div>
								<div class="cell">
									<p>{{prod.getAmountUnit()}}€ /
										{{prod.getUnit()}}
										x{{prodorder.getQuantity()}}</p>
								</div>
								<div class="cell">
									<p>{{prod.getProducer().getName()}}</p>
								</div>
								<div class="cell">
									<p class="fz-10">prix =
										{{prod.getAmountUnit()*prodorder.getQuantity()}}€
									</p>
								</div>
								{% set total = total + prod.getAmountUnit()*prodorder.getQuantity() %}
							</div>
						{% endfor %}
					</div>
					<div class="span-detail box-shadow bg-white p-2">
						<h3>Total = {{total|number_format(2, ",", " ")}}€</h3>
					</div>

					<div class="btns-panier">
						<div class="p-2">
							<a id="btnValidate">Valider la commande</a>
						</div>
						<div class="p-2">
							<a class="btnEmptyCart" href="/panier/empty">Vider le panier</a>
						</div>
					</div>
				{% endif %}
			</div>
			{% if panier != null %}
				<div id='form_client' class="centered">
					<form class="form formlogin span-detail box-shadow bg-white mt-3 p-4" action="/panier/validation" method="post">
						<label for="order_name">
							<b>Nom</b>
						</label>
						<input class="mb-3" id="order_name" type="text" autocomplete="username" placeholder="Saisissez votre nom" name="name" required>

						<label for="order_adress">
							<b>Adresse</b>
						</label>
						<input class="mb-3 adresse" id="order_adress" type="text" placeholder="Saisissez votre adresse" name="address" required>

						<label for="order_phone">
							<b>N° de téléphone</b>
						</label>
						<input class="mb-3" id="order_phone" type="text" autocomplete="username" placeholder="Saisissez votre n° de téléphone" name="phone" required>

						<label for="order_mail">
							<b>Adresse Email</b>
						</label>
						<input class="mb-3" id="order_mail" type="text" autocomplete="username" placeholder="Saisissez votre adresse mail" name="mail" required>

						<button class="button_login" type="submit">Commander</button>
					</form>
				</div>
			{% endif %}
		</div>
	</body>
</html></body></html>
